extends layout
block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | LOC8r was created to help people find places to sit down and get a bit of work done. 
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur numquam impedit quia commodi minus culpa accusamus quam voluptate dignissimos, facilis facere animi corrupti dolores aliquam, error temporibus nostrum qui obcaecati.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisidignissim accumsan. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur numquam impedit quia commodi minus culpa accusamus quam voluptate dignissimos, facilis facere animi corrupti dolores aliquam, error temporibus nostrum qui obcaecati.